In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 100
pd.options.display.max_columns = 20

import matplotlib.pyplot as plt

In [6]:
def non_feature_engineering(raw):
    raw['datetime'] = pd.to_datetime(raw['datetime'])
    raw['DateTime'] = pd.to_datetime(raw['datetime'])
    
    if raw.index.dtype == 'int64':
        raw.set_index('datetime', inplace = True)
    
    raw = raw.asfreq('H', method = 'ffill')
    
    nfea_raw = raw.copy()
    return nfea_raw

In [7]:
raw_all = pd.read_csv("bike-sharing-demand/Full.csv")

nfea_raw = non_feature_engineering(raw_all)
nfea_raw

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,DateTime
datetime,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.39,81,0.00,3,13,16,2011-01-01 00:00:00
2011-01-01 01:00:00,1,0,0,1,9.02,13.63,80,0.00,8,32,40,2011-01-01 01:00:00
2011-01-01 02:00:00,1,0,0,1,9.02,13.63,80,0.00,5,27,32,2011-01-01 02:00:00
2011-01-01 03:00:00,1,0,0,1,9.84,14.39,75,0.00,3,10,13,2011-01-01 03:00:00
2011-01-01 04:00:00,1,0,0,1,9.84,14.39,75,0.00,0,1,1,2011-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-31 19:00:00,1,0,1,2,10.66,12.88,60,11.00,11,108,119,2012-12-31 19:00:00
2012-12-31 20:00:00,1,0,1,2,10.66,12.88,60,11.00,8,81,89,2012-12-31 20:00:00
2012-12-31 21:00:00,1,0,1,1,10.66,12.88,60,11.00,7,83,90,2012-12-31 21:00:00
2012-12-31 22:00:00,1,0,1,1,10.66,13.63,56,9.00,13,48,61,2012-12-31 22:00:00
2012-12-31 23:00:00,1,0,1,1,10.66,13.63,65,9.00,12,37,49,2012-12-31 23:00:00